html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ theme styles */
a {color:#0578AF; text-decoration:none;}
body {color:#484848; font-family:proxima-nova,Georgia,"Helvetica Neue",Helvetica,Arial; font-size:.85em; line-height:1.6em; background:#E3EFF7;font-style:normal; font-weight:normal;}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-style:normal; font-family: ClarendonLight; font-size:2em; line-height:1.5em; color:#0578AF; margin:0 0 .25em 0}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:inherit; text-decoration:none; }
h1 a {font-family:ClarendonLight, "Helvetica Neue",Helvetica,Arial; font-size:1em; color:#0578AF; }
h1 a:hover { color:#0578AF; }
h2 {height:1.5em}
#page {text-align:center;}
#content {text-align:left; margin:0 auto; min-width:1021px; width:1021px;}
header h1 { display:inline; margin-left:21px;}
header p {display:block; width:33%; text-align:right; float:right; padding-right:21px; padding-top:5px; }
header p a {color:#0578AF; text-decoration:none;}
aside.c33r {width: 341px; float:right;}
article.c66l {width:653px; float:left;}
hr.clear {clear:both; color:transparent; background:transparent; border:0; }
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 { clear:left; }

ul#latest { list-style:none; }
ul#latest li { list-style:none; display:inline; }
ul#links { list-style:none; border-bottom:1px dotted #ccc}
ul#links a { display:block; padding:0 5px 0 25px; position:relative;}
ul#links a i { left:5px; top:3px; font-size:14px; position:absolute;}
ul#links a:hover, ul#links li.active a { text-shadow: 1px 1px 1px #ccc; text-shadow: 0 1px 0 #ccc; background:#eee; }
ul#links a:hover i { }
article a.dl {
    position:relative;height:40px;padding-top:11px;border:1px solid #ccc; display:block; padding:10px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
article a.dl:hover {
    border:1px solid #484848;
}
aside ul {border-top:0;}
aside li {border-top: 1px dotted #ccc;}
ul#latest li img {}
ul#latest li a {float:left; margin:0 10px 10px 0; display:inline-block; line-height:1; padding:0;}
footer {padding-left:21px; padding-bottom:30px}
footer a { color:#0578AF; text-decoration:none; }
strong {font-weight:bold;font-family:proxima-nova-bold;}
body.archive ul.archive li a { float:left; margin:0 10px 10px 0; }
#featured {border-bottom: 1px dotted #ccc;}
#featured a {text-decoration:none; display:block; color:#0578AF; }
#featured a:hover { background:#eee; text-shadow: 1px 1px 1px #ccc;
	text-shadow: 0 1px 0 #ccc;
}
#albums ol li { border-top:1px dotted #ccc; }
#albums li li img {
	margin-left: 25px;
}

#albums li li li img {
	margin-left: 50px;
}

#albums li li li li img {
	margin-left: 75px;
}


.box {
	background:#FFF;
	padding: 15px 25px 25px 25px;
	border:1px solid #D8E0E8;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	margin:0 auto 1.5em auto;
}

#content article div.box { position:relative; }
#prev { color:#0578AF; text-decoration:none; position:absolute; top:2em; right:135px; width:100px; text-align:right; }
#next { text-decoration:none; position:absolute; top:2em; right:25px; width:100px; }
a.next { color:#0578AF; }
#prev:hover, a.next:hover #next { text-decoration:underline; }
samp { font-family:Consolas, 'Courier New', monospace; font-style:normal;}
article div.box {background:#FFF url(../images/bg.png) no-repeat right bottom;}
ul#twitter li {padding:10px 0;}
i {font-size:14px;}
.blue {color:#0578AF;}
hr.seperate { border:0;border-bottom:1px dotted #ccc; ;margin:18px auto 14px auto; height:0; background:transparent;}

ol#requirements li i {font-size:12px;color:#0578AF;}
ol#features li i {font-size:12px;color:#0578AF;}

ol#gettingstarted li {position:relative; padding-left:20px;}
ol#gettingstarted li strong {position:absolute; left:0;}

                            .btn {
border-color: #c5c5c5;
border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#ededed,#c6c6c6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#ededed),to(#c6c6c6));
background-image: -webkit-linear-gradient(top,#ededed,#c6c6c6);
background-image: -o-linear-gradient(top,#ededed,#c6c6c6);
background-image: linear-gradient(to bottom,#ededed,#c6c6c6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #bbb;
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.05);
}
.btn i { border-right:1px solid #bbb; padding-right:10px }
.btn:hover {
color: #333;
text-decoration: none;
background-position: 0 14px;
-webkit-transition: background-position .2s linear;
-moz-transition: background-position .2s linear;
-o-transition: background-position .2s linear;
transition: background-position .2s linear;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #333;
background-color: #ededed;
}
a.btn:hover i {
color:#0578AF;
-webkit-transition: color .2s linear;
-moz-transition: color .2s linear;
-o-transition: color .2s linear;
transition: color .2s linear;
}

#tweets h3 i{vertical-align:15px;}

input.text {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: none repeat scroll 0 0 #FEFEFE;
border: 1px solid #BBBBBB;
color: #333333;
outline: medium none;
padding: 7px;
vertical-align: middle;
width: 175px;
font-size:inherit;
}
#join{font-weight:bold;font-family:proxima-nova-bold;font-size:inherit; margin-top:-1px;}
#signup #join {height:32px;}
small {font-size:12px;}
.left {float:left; margin-right:20px;margin-bottom:20px;}

#themes dl {  }
#themes dl dt { font-weight:bold; display:inline; font-family:proxima-nova-bold; }
#themes dl dd { display:inline; }
#themes hr.seperate { clear:left;}
/**[class^="icon-"],[class*=" icon-"] {
    text-shadow:1px 1px 1px #E3EFF7;
}**/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ profiling styles */
#profile {
	clear:both;
	margin-top:25px;
	font-family: Monaco, monospace;
	font-size: .9em;
	background: #000;
	color: #FFF;
	padding: 10px;
	text-align:left;
}

#themes dl.theme {margin-left:225px;}