body {font-family: 'proxima-nova'; font-size:100%; background:url(../img/debut_dark.png);}
#page {font-size:.75em; line-height:1.4;}
a {text-decoration:none; color:inherit;}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#navwrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    width: 100%;    
    color: #ffffff;
}
#mainnav {
    /*font-family:'economicaregular'; font-size:.75em;*/
    background:#242424;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    /*min-width: 728px;*/
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    transition: height .4s;
    -moz-box-shadow:    0 0 30px -5px #000000;
    -webkit-box-shadow: 0 0 30px -5px #000000;
     box-shadow:        0 0 30px -5px #000000;
}
a#brand {
    font-size:1.2em;
    height: 45px;
    line-height:37px;
    color:#CCC;
    float:left;
    display:block;
    padding-right:15px;
    }
a#brand:hover {
    color: #FFF;
    -webkit-transition: color 0.4s linear;
     -moz-transition: color 0.4s linear;
       -o-transition: color 0.4s linear;
          transition: color 0.4s linear;
}
#mainnav ul.social {float:left;}
#mainnav ul {height:45px; }
#mainnav ul li { height:45px;padding-right: 0;
padding-left: 0; }
#mainnav ul li:hover {
    /*background-color:#000;
    -webkit-transition: background-color 0.6s linear;
     -moz-transition: background-color 0.6s linear;
       -o-transition: background-color 0.6s linear;
          transition: background-color 0.6s linear;
          */
}
#mainnav ul li a {
    height:45px;
    line-height:45px;
    display:inline-block;
    font-weight:normal;
    font-family:'proxima-nova';
    letter-spacing:0.1em;
    word-spacing:.2em;
    font-size:.9em;
    color:#FFF;
    text-transform:uppercase;
    padding:0 13px;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.25);
}
#mainnav ul li a:hover {
    
}
#mainnav ul li.cyan a:hover,
#mainnav ul li.cyan.active a {
    background:#00aeef;
    -webkit-transition: background 0.2s linear;
     -moz-transition: background 0.2s linear;
       -o-transition: background 0.2s linear;
          transition: background 0.2s linear;
}
#mainnav ul li.magento a:hover,
#mainnav ul li.magento.active a {
    background:#ec008c;
    -webkit-transition: background 0.2s linear;
     -moz-transition: background 0.2s linear;
       -o-transition: background 0.2s linear;
          transition: background 0.2s linear;
}
#mainnav ul li.yellow a:hover,
#mainnav ul li.yellow.active a {
    /*color:#000;*/
    background:#e5c300;
    /*text-shadow:none;
    font-family:'economicabold';*/
    -webkit-transition: background 0.2s linear;
     -moz-transition: background 0.2s linear;
       -o-transition: background 0.2s linear;
          transition: background 0.2s linear;
}

#mainnav ul li.green a:hover,
#mainnav ul li.green.active a {
    background:#9fbf00;
    -webkit-transition: background 0.2s linear;
     -moz-transition: background 0.2s linear;
       -o-transition: background 0.2s linear;
          transition: background 0.2s linear;
}


h1 img {opacity:.5;}
div.container {
    display:none;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom: 70px;
    width:200px;
    z-index:100;
    background:#FFF;
    text-align:center;
    opacity:.5;
}
#logo {
    position:absolute;
    top:5px;
    left:15px;
    z-index:101;
}
#carousel{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
#carousel img {
    display: inline-block;
    position:absolute;
}
strong {font-family:'proxima-nova-bold';}
#carousel span.about {
    font-size:.75em;
    position:absolute;
    padding:0 9px;
    bottom:10px;
    left:10px;
    z-index:1000;
    color: #FFF;
    font-weight:normal;
    font-weight:none;
}
#carousel span.about i {margin-right:2px; font-size:1.2em; vertical-align:-1px;}
#carousel span.about a { color:#CCC; }
#carousel span.about a:hover {
    color:#FFF; border-bottom:1px dotted #FFF;
}
.badge {
  display: inline-block;
  padding: 4px 4px;
  font-size: 11.844px;
  font-weight: normal;
  font-style:none;
  line-height: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.badge:empty {
  display: none;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#controls {
    position:absolute;
    right:0;
    top:0;
    background:#FFF;
    z-index:102;
    height:45px;
    line-height:35px;
    -moz-box-shadow:    0 0 30px -5px #000000;
    -webkit-box-shadow: 0 0 30px -5px #000000;
     box-shadow:        0 0 30px -5px #000000;

}
#controls a { background:#242424; color:#FFF; padding:0 15px; height:45px; line-height:45px;display:inline-block;}
#controls a:hover{
-webkit-transition: background 0.4s linear;
     -moz-transition: background 0.4s linear;
       -o-transition: background 0.4s linear;
          transition: background 0.4s linear;
}
#controls span#next, #controls span#previous { background:#CCC; color:#FFF; padding:0 15px; height:45px; line-height:45px;display:inline-block;}
#controls a.cyan:hover { background: #00aeef; }
#controls a.magento:hover { background: #ec008c; }
#controls span.inactive { background:#CCC; }
#controls span.inactive:hover { background:#CCC; }
#controls #previous {}
#controls #next {}
#controls #count { font-family:'proxima-nova-bold'; padding:0 20px; }
#controls #count #current {font-size:2em; line-height:1em; vertical-align:-3px;}
/*
#controls #count #current { font-size:2em; font-weight:bold; height:45px; line-height:45px; }
#controls #count #all {}*/

.image_wrap {
   -moz-box-shadow:    inset 0 0 30px 0 #000000;
   -webkit-box-shadow: inset 0 0 30px 0 #000000;
    box-shadow:        inset 0 0 30px 0 #000000;
}

#spinner {
    position:absolute;
    top:50%;
    left:50%;
    z-index:1000;
    margin-left:-28px;
    margin-top:-32px;
    color:#FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}