html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ theme styles */
body {
  color: #484848;
  font-family: Georgia,"Helvetica Neue",Helvetica,Arial;
  font-size: .8em;
  line-height: 1.6em;
  background: #E3EFF7;
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  font-family: 'ClarendonLight';
  font-size: 2em;
  line-height: 1.5em;
  color: #0578AF;
  margin: 0 0 0.25em 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none; }

h1 a {
  font-family: "ClarendonLight", "Helvetica Neue", Helvetica, Arial;
  font-size: 1em;
  color: #0578AF; }

h2 {
  height: 1.5em; }

#page {
  text-align: center; }

#content {
  text-align: left;
  margin: 0 auto;
  min-width: 1021px;
  max-width: 1021px;
  width: 1021px;
  padding-top: 15px; }

header h1 {
  float: left;
  display: block;
  margin-left: 21px;
  width: 632px; }

header p {
  float: right;
  display: block;
  width: 320px;
  text-align: right;
  float: right;
  padding-right: 21px;
  padding-top: 5px; }

header p a {
  color: #0578AF;
  text-decoration: none; }

aside.c33r {
  width: 341px;
  float: right; }

article.c66l {
  width: 653px;
  float: left; }

hr.clear {
  clear: both;
  color: transparent;
  background: transparent;
  border: 0; }

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
  clear: left; }

ul#latest {
  list-style: none; }

ul#latest li {
  list-style: none;
  display: inline; }

ul#latest li a {
  float: left;
  margin: 0 10px 10px 0;
  display: inline-block;
  line-height: 1;
  padding: 0; }

footer {
  padding-left: 21px; padding-bottom:20px; }

footer a {
  color: #0578AF;
  text-decoration: none; }

strong {
  font-weight: bold; }

body.archive ul.archive li a {
  float: left;
  margin: 0 10px 10px 0; }

#albums {
  border-bottom: 1px dotted #cccccc;
  border-top: 1px dotted #cccccc; }

#albums a {
  text-decoration: none;
  display: block;
  color: #0578AF; }

#albums a:hover, #albums a.active {
  background: #eee;
  text-shadow: 1px 1px 1px #cccccc;
  text-shadow: 0 1px 0 #cccccc; }

#albums ol li {
  border-top: 1px dotted #cccccc; }

#albums li li img {
  margin-left: 25px; }

#albums li li li img {
  margin-left: 50px; }

#albums li li li li img {
  margin-left: 75px; }

.box {
  background: #FFF;
  padding: 15px 25px 25px 25px;
  border: 1px solid #d8e0e8;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin: 0 auto 1.5em auto; }

#content article div.box {
  position: relative; }

#prev {
  color: #0578AF;
  text-decoration: none;
  position: absolute;
  top: 2em;
  right: 135px;
  width: 100px;
  text-align: right; }

#next {
  text-decoration: none;
  position: absolute;
  top: 2em;
  right: 25px;
  width: 100px; }

a.next {
  color: #0578AF; }

#prev:hover, a.next:hover #next {
  text-decoration: underline; }

.hidden {
  display: none; }

#image-container {position:relative;}
#image-container a {overflow:hidden;display:block;text-decoration:none}
#image-container a.previous {position:absolute; top:0;left:0;height:100%; width:50%;}
#image-container a.next {position:absolute; top:0;right:0;height:100%; width:50%;}
#image-container a.previous em, #image-container a.next em {margin-left:-9999em;display:block;background:url(../img/40pct-black.png); text-align:center; color:#FFF; text-transform:lowercase; padding:2px 0;width:33%}
body.js #image-container a.next em {float:right;}
body.js #image-container a.previous em, body.js #image-container a.next em {margin-left:0; opacity:0; text-shadow: 1px 1px 0 #000000;}
#image-container a.previous:hover em, #image-container a.next:hover em {margin-left:0; text-shadow: 1px 1px 0 #000000; }
body.js #image-container a.previous:hover em, body.js #image-container a.next:hover em { opacity:0; }
#image-container a.next:hover em {float:right}
#image-container a.hidden {display:none;}
p.description {padding-top:15px}
#spinner { display:none; position:absolute; top:50%; left:50%; margin-left: -25px; margin-top:-25px; width: 50px; height: 50px; background: url('../img/spinner.png') no-repeat 0 0; }
ul#latest li a img {
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}
ul#latest li a:hover img {
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

ul#latest li.active a img {
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");*/
    -webkit-filter: grayscale(0%);
    opacity:1;
}
div.box.latest {padding-right:15px;}
ul#latest li.hidden { display:none; }
#pagination {text-align:center;}
#pagination div.wrapper {margin-left:-8px;}
#pagination a span {display:none;}
#pagination a {text-decoration:none; color:#FFF; background:#595959; padding:2px 5px; margin-right:5px; text-shadow: 1px 1px 0 #000000; -webkit-border-radius: 2px;  -moz-border-radius: 2px;
border-radius: 2px;}
#pagination a:hover, #pagination a.active {background:#0578AF;text-shadow: 1px 1px 0 #045880;}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ profiling styles */
#profile {
  clear: both;
  margin-top: 25px;
  font-family: Monaco, monospace;
  font-size: .9em;
  background: #000;
  color: #FFF;
  padding: 10px;
  text-align: left; }
span.success {color:green;}
span.fail {color:red;}