@font-face {
    font-family: 'Clarendon';
    src: url('clarendon-webfont.eot');
    src: url('clarendon-webfont.eot?#iefix') format('embedded-opentype'),
         url('clarendon-webfont.woff') format('woff'),
         url('clarendon-webfont.ttf') format('truetype'),
         url('clarendon-webfont.svg#Clarendon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClarendonLight';
    src: url('clarendon-light-webfont.eot');
    src: url('clarendon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('clarendon-light-webfont.woff') format('woff'),
         url('clarendon-light-webfont.ttf') format('truetype'),
         url('clarendon-light-webfont.svg#ClarendonLight') format('svg');
    font-weight: normal;
    font-style: normal;
}