/**
 * Folderblog 4.0
 * @author Erik Pöhler
 * @version 4.0
 * @see http://folderblog.org/
 */
@CHARSET "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1.5;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Frutiger;
}

div.page_margins {
	font-size: .75em;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ general styles */
body {
	background: #E3EFF7;
	color: #484848;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: .8em;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #0578af;
	text-transform: lowercase;
	line-height: 1;
}

h1 {
	font-size: 2.5em;
	margin: 0 0 .5em 0;
}

h2 {
	font-size: 1.8em;
	margin: 0 0 .5em 0;
	font-weight: lighter;
}

a {
	color: #0578af;
	text-decoration: none;
	border-bottom: 1px #0578af dotted;
}

div.content {
	
}

strong {
	font-weight: bold;
}

.screenreader {
	display: none;
}

.light {
	color: #e0e0e0;
}

.blue {
	color: #0578af;
}

.box {
	background: #FFF;
	padding: 15px 25px 25px 25px;
	border: 1px solid #d8e0e8;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin: 2em auto;
}

hr.clear {
	clear: both;
	height: 0;
	border: 0;
	background: transparent;
}

small {
	font-size: .9em;
}

samp {
	font-family: Monaco, monospace;
	font-size: .9em;
}

span.credits {
	display: block;
	text-align: right;
	font-size: .9em;
	margin-top: -15px;
	margin-bottom: 25px;
	padding: 0 10px;
}

body.login span.credits {
    width:220px;
    margin:-15px auto 25px auto;
}

body.jquery.admin span.warn {
	display: none;
}

p {
	margin: 0 0 1.5em 0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ form styles */
input.submit,.qq-upload-button {
	text-shadow: 1px 1px 0 #0A5482;
	font-weight: bold;
	color: #FFF;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	background: url("../img/button-small.gif") no-repeat 0 100%;
	width: 85px;
}

input.submit:hover,qq-upload-button-hover {
	background: url("../img/button-small.gif") no-repeat 0 0;
	text-shadow: 1px 1px 0 #B55F10;
}

input.submit.big,.qq-upload-button {
	background: url(../img/button-big.gif) no-repeat 0 100%;
	width: 165px;
}

input.submit.big:hover,qq-upload-button-hover {
	background: url(../img/button-big.gif) no-repeat 0 0;
}

.qq-upload-button {
	line-height: 30px;
	height: 30px
}

select,textarea {
	font-family: Georgia;
}

input.text,input.password,textarea {
	font-family: Georgia;
	font-style: italic;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: none repeat scroll 0 0 #FEFEFE;
	border: 1px solid #BBBBBB;
	color: #333333;
	font-size: 14px;
	outline: medium none;
	padding: 7px;
	vertical-align: middle;
	width: 245px;
}

textarea {
	height: 100px;
}

select {
	width: 245px;
	height: 18px;
	margin-right: 20px;
	cursor: pointer;
}

div.cmf-skinned-select {
	padding: 7px;
	display: block;
	margin-right: 20px;
	border: 1px solid #BBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url('../img/sdd.jpg') center right no-repeat;
}

div.cmf-skinned-text {
	padding: 5px 7px;
	font-size: 14px;
	font-family: Georgia;
	font-style: italic;
	color: #333;
}

input[readonly] {
	opacity: .5
}

input.checkbox {
	margin-right: 8px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ profiling styles */
#profile, #debug {
	font-family: Monaco, monospace;
	font-size: .9em;
	background: #000;
	color: #FFF;
	padding: 10px;
	text-align:left;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ login styles */
body.login, body.setup {
	text-align: center;
}

body.login #login {
	text-align: left;
	width: 220px;
}

body.login #login h1 {
	margin-bottom: 1em;
}

body.login #login input.text,#login input.password {
	display: block;
	width: 204px;
	margin: .75em 0;
	font-weight: bold;
}

/* setup styles */
body.setup {
    text-align: center;
}
body.setup #setup {
    text-align: left;
    width: 600px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ admin styles */
body.admin {
	padding: 0 10%;
}

body.admin div.box {
	position: relative;
}

body.admin div.user {
	position: absolute;
	top: 15px;
	right: 25px;
}

body.admin #users ol li {
	background: #FFF;
	padding: 10px 15px 15px 15px;
	border: #ccc;
}

body.admin div.panes {
	background: #eee;
	padding: 20px;
	clear: both;
}

body.admin form ol {
	margin: 0;
	padding: 0;
}

body.admin form ol li {
	margin: 7px 0;
	padding: 0;
}

body.admin div.panes label {
	display: block;
}

body.admin div.panes label.inline {
	display: inline;
}

body.admin ul.tabs {
	margin: 0;
	padding: 0;
}

body.admin ul.tabs li {
	margin: 0 4px 0 0;
	padding: 0;
	display: inline;
	float: left;
}

body.admin ul.tabs li a {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 0 20px;
	border: 0;
	height: 30px;
	display: block;
	width: 80px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color: #484848;
	background: #d8e0e8;
	border-bottom: 1px solid #cad4de;
	color: #FFF;
}
body.admin ul.tabs li a:hover {
	
}
body.admin ul.tabs li a.current,body.admin ul.tabs li a:hover {
	background: #d8e0e8;
	border-bottom: 1px solid #cad4de;
	color: #0578AF;
}

body.admin ul.tabs li a.current {
	background: #eee;
	border-bottom: 1px solid #eee;
	color: #0578AF;
}

body.admin #users ol li {
	float: left;
	margin-right: 20px;
	width: 260px;
}

body.admin div.folders ol.folders {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}

body.admin div.folders ol.folders li {
	background: # #EEE !important;
	border-bottom: 0;
	margin: 0;
}

body.admin div.folders ol.folders li span.inner {
	padding: 5px 0;
	display: block;
}

body.admin div.folders ol.folders ul {
	border-top: 0;
}

body.admin div.folders ol.folders li {
	border: 0;
	margin: 0;
}

body.admin div.folders ol.folders li.first img {
	margin-left: 5px;
}

body.admin div.folders ol.folders li img {
	margin-left: 25px;
}

body.admin div.folders ol.folders li li img {
	margin-left: 50px;
}

body.admin div.folders ol.folders li li li img {
	margin-left: 75px;
}

body.admin div.folders ol.folders ul li {
	border-bottom: 0;
	padding: 0;
	margin: 0.75em 0
}

body.admin div.folders ol.folders li.odd,
body.admin div.media #mediabrowser tbody tr.odd {
	background: #eee;
}

body.admin div.folders ol.folders li.even {
    background:#FFF;
}

body.admin div.folders ol.folders {background:#FFF;}

body.admin div.folders ol.folders div.folderdetails {
	display: none;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -175px;
	background: #FFF;
	border: 1px solid #ccc;
	position: absolute; top : 50%; left : 50%; width : 260px; height : 270px; margin-left : -125px; margin-top : -175px; padding : 20px; background : #FFF; border : 1px solid #ccc;
	-moz-box-shadow: 0 10px 20px #888;
	-webkit-box-shadow: 0 10px 20px #888;
	box-shadow: 0 10px 20px #888;
	padding: 10px 20px;
	width: 260px;
	height: 260px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
body.admin div.folders ol.folders div.folderdetails div.inner {
	position:relative;
	padding:0;
}
body.admin div.folders ol.folders div.folderdetails a.close {
	text-decoration:none;
	background:url(../img/close.png) no-repeat 0 0; 
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:-33px;
	right:-35px;
	text-indent:-9999em;
	overflow:hidden;
	border:0;
}

/* media browser */
body.admin div.browser table#mediabrowser {margin:20px 0;}
body.admin div.browser table#mediabrowser thead tr th {font-weight:bold; text-align:center; padding:5px 5px 5px 5px; background:#d8e0e8; color:#0578AF; border-right:1px solid #eee; }
body.admin div.browser table#mediabrowser thead tr th.preview {padding-left:5px;}
body.admin div.browser table#mediabrowser tbody td.preview img {vertical-align:middle; margin:5px 0 5px 5px; }
body.admin div.browser table#mediabrowser tr.odd td {background:#FFF;}
body.admin div.browser table#mediabrowser tbody td.title input {width:150px;}
body.admin div.browser table#mediabrowser tbody td.descritption textarea { width:180px; height:25px; }
#mediabrowser textarea {width:150px;height:35px;}
hr.space {height:20px; color:transparent; background:transparent; border:0;}
#pagination {}
#pagination a {
    background:url(../img/button-big.gif) no-repeat 0 100%;
    color:#FFF;
    text-shadow: 1px 1px 0 #0A5482;
    padding:0 7px 0 7px;
    height:30px;
    display:block;
    float:left;
    line-height:30px;
    margin-right:7px;
    font-weight:bold;
    border:0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position:relative;
}
#pagination a:hover,
#pagination a.active {
    background: url(../img/button-big.gif) no-repeat 0 0;
    text-shadow: 1px 1px 0 #B55F10;
}
#pagination a span {
    height:30px;
    background:url(../img/button-big.gif) no-repeat 100% 100%;
    width:7px;
    position:absolute;
    right:0;
    bottom:0;
}
#pagination a:hover span,
#pagination a.active span {
    background: url(../img/button-big.gif) no-repeat 100% 0;
}
#pagination a.inactive {
    
}

body.setup span.credits {width:600px;margin:0 auto; padding-bottom:20px;}

/** tooltip **/
#tt {position:absolute; display:block; }
#tttop {display:block; height:0;  overflow:hidden}
#ttcont {display:block; padding:0;  background:#FFF; }
#ttbot {display:block; height:0;  overflow:hidden}

/** server compatibility check (server.php) **/
body.requirements div.box {width:500px;}
ol.requirements { margin-top:1em; }
ol.requirements li { border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:10px 10px 10px 28px ; width:460px; background:#eee; display:block; float:left; margin-bottom:.5em; }
ol.requirements li.warning { background:#FAEBD7; border-top:1px solid sandybrown; border-bottom:1px solid sandybrown }
ol.requirements li.success { background:#eee url(../img/tick.png) no-repeat 10px 13px }
ol.requirements li.error { border-top:1px solid darkred; border-bottom:1px solid darkred; background:lightsalmon; }
ol.requirements li dl dt { display:inline; font-weight:bold; }
ol.requirements li dl dd { margin-left:5px;display:inline; }
body.requirements span.credits { margin:0 auto 20px auto; width:500px; }
body.exception span.credits { margin:1em; }
body.exception pre {font-family:Monaco, Consolas, 'Courier New', monospace; font-size:0.9em;}
hr.separate {border:0; border-bottom:1px dotted #CCC; height:0; }