.qq-uploader { position:relative; width: 100%;}

/**.qq-upload-button {
    display:block;
    width: 105px; padding: 7px 0; text-align:center;    
    background:; border-bottom:1px solid #ddd;color:#fff;
}**/

.qq-upload-button {  }
.qq-upload-button-hover {  }
.qq-upload-button-focus {  }

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 0; padding:0;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../img/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.qq-upload-list {list-style:none;}
.qq-upload-list .qq-upload-success { background:url(../img/success.gif) no-repeat 0 0; padding-left:25px;}
.qq-upload-list .qq-upload-fail { background:url(../img/error.gif) no-repeat 0 0; padding-left:25px;}